body {
    font-family: "Opel Next",sans-serif;
    height: 250px;
    width: 300px;
    height: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.container-banner {
    position: relative;
    background-image: url(/img/opel-background.jpg);
}

.text-first-message p,
.text-first-message-back p {
    margin-top: 10px;
}

.text-first, 
.text-second p, 
.text-third p, 
.text-fourth p,
.text-first-back {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.text-first-header p,
.text-first-header-back p {
    font-weight: normal;
    font-size: 2rem;
    margin: 0;
}

.opel-car {
    position: absolute;
    top: 50px;
}

.opel-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px
}

.btn-black {
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    position: absolute;
    bottom: 15px;
    left: 10px;
    padding: .5rem .75rem;
}